{% extends "layout.html" %}
{% block content %}
   <article class="media content-section">
     <img class="rounded-circle article-img" src="{{  url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
     <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('username_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%B %d %Y') }}</small> <!-- Posts the time in Month, day, year format using datetime module -->
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModalCenter">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      </div>
    </article>

    <!-- Modal -->
    <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLongTitle">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>

    {% for comment in comments %}
      <p>"{{ comment.content }}" &nbsp <small>Author:
        {{ comment.user.username }}</small></p>
    {% endfor %}
    <form method="POST" action="{{ url_for('post_comment', post_id=post.id) }}">
      {{ form.hidden_tag() }}
      <div class="comment-form">
        {{ form.comment.label }} {{ form.comment }}
        {% for error in form.comment.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="border">
        {{ form.submit() }}
        </div>
      </form>
    {% for error in form.comment.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}


    <button class="btn btn-sm btn-orange my-sm-0" type="submit">
    <i class="fas fa-thumbs-up"></i>
    </button>






  <!-- <form method="POST" action="{{ url_for('post_comment', post_id=post.id) }} ">
    <div class="comment-form">
    <label for="exampleFormControlTextarea1">Say Something!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="button" class="btn btn-secondary btn-sm m-1" type="submit">Post Comment</button>
  </div>
  </form> -->

{% endblock content %}
